volumes:
  unibee_mysql_data:
  unibee_redis_data:

networks:
  dokploy-network:
    external: true

services:
  db:
    image: mysql:8.0.37
    container_name: unibee-db
    restart: unless-stopped
    networks:
      - default
    environment:
      MYSQL_DATABASE: ${DB_DATABASE:-unibee}
      MYSQL_USER: ${DB_USER:-unibee}
      MYSQL_PASSWORD: ${DB_PASSWORD:-changeme}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD:-changeme}
      MYSQL_PORT: ${DB_PORT:-3306}
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
    volumes:
      - unibee_mysql_data:/var/lib/mysql
      - ./mysql/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./mysql:/opt/sql
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci

  redis:
    image: redis:6
    container_name: unibee-redis
    platform: linux/amd64
    restart: unless-stopped
    networks:
      - default
    command: --port ${REDIS_PORT:-6379} --requirepass ${REDIS_PASSWORD:-changeme}
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
    volumes:
      - unibee_redis_data:/data

  api:
    container_name: unibee-api
    image: unibee/api:v1.7.3
    platform: linux/amd64
    restart: unless-stopped
    networks:
      - dokploy-network
      - default
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test: curl -f http://127.0.0.1/health || exit 1
      interval: 10s
      start_period: 30s
      timeout: 60s
    environment:
      - UNIBEE_API_URL=${UNIBEE_API_URL:-https://billapi.circulo.ir}
      - SERVER_ADDRESS=${API_SERVER_ADDRESS:-80}
      - DATABASE_LINK=mysql:root:${DB_ROOT_PASSWORD:-changeme}@tcp(${DB_HOST:-db}:${DB_PORT:-3306})/${DB_DATABASE:-unibee}?loc=UTC&parseTime=false
      - REDIS_ADDRESS=${REDIS_HOST:-redis}:${REDIS_PORT:-6379}
      - REDIS_PASSWORD=${REDIS_PASSWORD:-changeme}
      - UNIBEE_LICENSE=${UNIBEE_LICENSE:-}
      - ENV=${ENV:-prod}
      - MODE=stand-alone
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.unibee-api.rule=Host(`api.yourdomain.com`)"
      - "traefik.http.routers.unibee-api.entrypoints=websecure"
      - "traefik.http.routers.unibee-api.tls.certresolver=letsencrypt"
      - "traefik.http.services.unibee-api.loadbalancer.server.port=80"
      - "traefik.docker.network=dokploy-network"

  licenseApi:
    container_name: unibee-license-api
    image: unibee/license-api:v1.0.2-premium
    platform: linux/amd64
    restart: unless-stopped
    networks:
      - dokploy-network
      - default
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test: curl -f http://127.0.0.1/health || exit 1
      interval: 10s
      start_period: 30s
      timeout: 60s
    environment:
      - REDIS_ADDRESS=${REDIS_HOST:-redis}:${REDIS_PORT:-6379}
      - SERVER_ADDRESS=${LICENSE_API_SERVER_ADDRESS:-80}
      - REDIS_PASSWORD=${REDIS_PASSWORD:-changeme}
      - ENV=${ENV:-prod}
      - MODE=stand-alone
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.unibee-license.rule=Host(`license.circulo.ir`)"
      - "traefik.http.routers.unibee-license.entrypoints=websecure"
      - "traefik.http.routers.unibee-license.tls.certresolver=letsencrypt"
      - "traefik.http.services.unibee-license.loadbalancer.server.port=80"
      - "traefik.docker.network=dokploy-network"

  userPortal:
    container_name: unibee-user-portal
    image: unibee/user-portal:v1.7.3
    platform: linux/amd64
    restart: unless-stopped
    networks:
      - dokploy-network
      - default
    environment:
      - UNIBEE_API_URL=${UNIBEE_API_URL:-https://billapi.circulo.ir}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.unibee-user.rule=Host(`billuser.circulo.ir`)"
      - "traefik.http.routers.unibee-user.entrypoints=websecure"
      - "traefik.http.routers.unibee-user.tls.certresolver=letsencrypt"
      - "traefik.http.services.unibee-user.loadbalancer.server.port=80"
      - "traefik.docker.network=dokploy-network"

  adminPortal:
    container_name: unibee-admin-portal
    image: unibee/admin-portal:v1.7.3
    platform: linux/amd64
    restart: unless-stopped
    networks:
      - dokploy-network
      - default
    environment:
      - UNIBEE_API_URL=${UNIBEE_API_URL:-https://billapi.circulo.ir}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.unibee-admin.rule=Host(`billadmin.circulo.ir`)"
      - "traefik.http.routers.unibee-admin.entrypoints=websecure"
      - "traefik.http.routers.unibee-admin.tls.certresolver=letsencrypt"
      - "traefik.http.services.unibee-admin.loadbalancer.server.port=80"
      - "traefik.docker.network=dokploy-network"
